---
- name: Get the latest release of nvidia-docker
  get_url: "dest=/tmp/nvidia-docker.deb url=https://github.com/NVIDIA/nvidia-docker/releases/download/v1.0.0-rc.3/nvidia-docker_1.0.0.rc.3-1_amd64.deb"

- name: Install nvidia-docker
  command: dpkg -i /tmp/nvidia-docker.deb
  become: yes
  become_user: root

- name: Run the cljs convolution demo
  command: nvidia-docker run -d --name cljstest -p 80:3001 graphistry/cljs:1.0

- name: Get the opencl version
  command: bash -c "curl 'localhost/?mode=opencl' | sed -E -e 's/[0-9]+ ms /0 ms/' | sha256sum       > /tmp/sha"

- name: Check against the straight JS version
  command: bash -c "curl 'localhost/'             | sed -E -e 's/[0-9]+ ms /0 ms/' | sha256sum --check /tmp/sha"

- name: Stop the cljs demo
  command: docker rm -f cljstest
